<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/commonHeader.html :: head}">
</head>
<header th:insert="~{fragments/commonHeader.html :: header}">
</header>
<body th:object="${user}">
    <form th:action="*{id} == 0? 
                        @{/v2/users} : 
                        @{|/v2/users/*{id}|}" 
        th:method="POST"
        th:value="*{id}"
        style="padding:5% 15%">
        <div class="form-group">
        <p>
            <label for="id" th:text="#{id}"></label> 
            <input id="id" class="form-control" th:field="*{id}">
        </p>
        </div>
        <div class="form-group">
        <p>
            <label for="name" th:text="#{name}"></label>
            <input id="name" class="form-control" th:field="*{name}">
        </p>
        </div>
        <div class="form-group">
            <p><input type="submit" style="margin-top: 50px" class="btn btn-primary" th:value="#{submit}" /></p>
        </div>
    </form>
        
</body>
<script>
    $("form").submit(function(event){
                event.preventDefault();
                let formDataArray = $(this).serializeArray();
                let formAction = $(this).attr("action")
                let formID = $(this).attr("value")
                let formDataObject = {};
                for (const element of formDataArray) {
                    formDataObject[element.name] = element.value;
                }
                let jsonFormData = JSON.stringify(formDataObject);

                $.ajax({
                    type: formID == 0? 'POST' : 'PUT',
                    url: formAction,
                    data: jsonFormData,
                    contentType: 'application/json'
                }).done(function( data, textStatus, jqXHR ) {
                    window.location = "/users"
                });
            });
</script>
</html>