<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/commonHeader.html :: head}">
</head>
<header th:insert="~{fragments/commonHeader.html :: header}">
</header>
<body th:object="${post}">
    <form th:action="*{id} == 0? 
                        @{/v2/posts} : 
                        @{|/v2/posts/*{id}|}" 
        th:method="POST"
        th:value="*{id}"
        style="padding:5% 15%">
        <div class="form-group">
            <p>
            <label for="id" th:text="#{id}"></label> 
            <input id="id" class="form-control" th:field="*{id}" />
            </p>
        </div>
        <div  class="form-group">
            <p>
            <label for="userId" th:text="#{user}"></label> 
                <select id="userId" class="form-control" th:field="*{userId}">
                    <option th:each="user : ${users}" th:text="${user.name}" th:value="${user.id}"></option>
                </select>
            </p>
        </div>
        <div class="form-group">
        <p>
            <label for="text" th:text="#{text}"></label> 
            <input id="text" class="form-control" th:field="*{text}">
        </p>
        </div>  
        <div class="form-group">
        <p><input type="submit" style="margin-top: 50px" class="btn btn-primary" th:value="#{submit}" /></p>
        </div>
    </form>
        
</body>
<script>
    $("form").submit(function(event){
                event.preventDefault();
                let formDataArray = $(this).serializeArray();
                let formAction = $(this).attr("action")
                let formID = $(this).attr("value")
                let formDataObject = {};
                for (const element of formDataArray) {
                    formDataObject[element.name] = element.value;
                }
                let jsonFormData = JSON.stringify(formDataObject);

                $.ajax({
                    type: formID == 0? 'POST' : 'PUT',
                    url: formAction,
                    data: jsonFormData,
                    contentType: 'application/json'
                }).done(function( data, textStatus, jqXHR ) {
                    window.location = "/posts"
                });
            });
</script>
</html>