<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/commonHeader.html :: head}"> 
</head>
<header th:insert="~{fragments/commonHeader.html :: header}"> 
</header>
<head>
    <script>
        $(document).ready(function(){
            $(".btnModify").click(function(){
                let URL = $(this).attr('url');
                window.location = URL;
            });
            $(".btnDelete").click(function(){
                if (confirm("¿Desea eliminar este elemento?"))
                {
                    let ID = $(this).attr('extraInfo');
                    let URL = $(this).attr('url');
                    $.ajax({
                        type: 'DELETE',
                        url: URL,
                        contentType: 'application/json'
                    }).done(function( data, textStatus, jqXHR ) {
                        window.location = "/posts"
                    });
                }
            });
        });  
    </script>
</head>
<body>
    <p style="margin: 20px;"> <span th:text="#{user}"></span> 
        <select id="user" name="user"
            th:onchange="'window.location.href = \'' + @{/posts} + '?userId=\' + this.value ' "
        >
            <option th:text="#{all}" th:value="0"
                    th:selected="0 == ${userId}">
            </option>
            <option th:each="user : ${users}" th:text="${user.name}" th:value="${user.id}"
                    th:selected="${user.id} == ${userId}">
            </option>
        </select>
    </p>
    <ul th:class="list-group">
        <li th:each="post : ${posts}" 
            th:object="${post}"
            th:class="list-group-item">
            <span th:text="*{text}"
            style="display:inline-block;width:50%"></span>
            <input class="btn btnModify" type="submit" th:value="Editar" 
                        style="color: white; background-color: orange;"
                        th:url="@{|/posts/edit/*{id}|}"
                        th:extraInfo="*{id}" >
                <input class="btn btnDelete" type="submit" th:value="Eliminar" 
                        style="color: white; background-color: red;"
                        th:url="@{|/v2/posts/*{id}|}"
                        th:extraInfo="*{id}" >
                
        </li>
        <li th:class="list-group-item">
            <form th:action="@{/posts/new}">
                <input type="submit" th:value="#{new}" class="btn btn-primary">
            </form>
        </li>
    </ul>
    </body>
</html>
