<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/commonHeader.html :: head}">
</head>
<header th:insert="~{fragments/commonHeader.html :: header}">
</header>
<head>
    <script>
        $(document).ready(function(){
            $(".btnModify, .btnViewPosts").click(function(){
                let URL = $(this).attr('url');
                window.location = URL;
            });
            $(".btnDelete").click(function(){
                if (confirm("¿Desea eliminar este elemento?"))
                {
                    let ID = $(this).attr('extraInfo');
                    let URL = $(this).attr('url');
                    $.ajax({
                        type: 'DELETE',
                        url: URL,
                        contentType: 'application/json'
                    }).done(function( data, textStatus, jqXHR ) {
                        window.location = "/users"
                    });
                }
            });
        });  
    </script>
</head>
<body>
    <ul th:class="list-group">
        <li th:each="user : ${users}"
            th:object="${user}"
            th:class="list-group-item">
            <span th:class="*{id} % 2 != 0? 'odd': _"
            th:text="*{name}"
            style="display:inline-block;width:50%"
            ></span>
            <input class="btnViewPosts btn btn-primary" type="submit" th:value="Posts" 
                    th:url="@{/posts(userId=*{id})}"
                    th:extraInfo="*{id}" >
            <input class="btn btnModify" type="submit" th:value="Editar" 
                    style="color: white; background-color: orange;"
                    th:url="@{|/users/edit/*{id}|}"
                    th:extraInfo="*{id}" >
            <input class="btn btnDelete" type="submit" th:value="Eliminar" 
                    style="color: white; background-color: red;"
                    th:url="@{|/v2/users/*{id}|}"
                    th:extraInfo="*{id}" >
        </li>
        <li th:class="list-group-item">
            <form th:action="@{/users/new}">
                <input type="submit" th:value="#{new}" class="btn btn-primary">
            </form>
        </li>
    </ul>
</body>
</html>